<nav class="pagination justify-content-center" role="navigation" aria-label="Blog pagination">
  <ul class="pagination">
    {% if paginator.previous_page %}
      <li class="page-item">
        {% if paginator.previous_page == 1 %}
          <a class="page-link" href="{{ site.baseurl }}/" title="Zur neueren Seite" rel="prev">&laquo; Neuer</a>
        {% else %}
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Zur neueren Seite" rel="prev">&laquo; Neuer</a>
        {% endif %}
      </li>
    {% endif %}

    <li class="page-item disabled" aria-disabled="true">
      <span class="page-link" aria-label="Seite {{ paginator.page }} von {{ paginator.total_pages }}">Seite {{ paginator.page }} von {{ paginator.total_pages }}</span>
    </li>

    {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" title="Zur älteren Seite" rel="next">Älter &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
