<div class="sidebar sticky-top">
  <!-- Promo Section -->
  <div class="mb-4">
    <h4 class="pt-1">Empfehlungscodes</h4>
    <ul class="list-group">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Wise
        <span class="badge bg-primary rounded-pill"><a href="https://wise.com/invite/dic/flavioa19?utm_source=desktop-invite-tab-copylink&utm_medium=invite&utm_campaign=&utm_content=&referralCode=flavioa19" target="_blank" rel="sponsored nofollow noopener">Referral</a></span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Interactive Brokers
        <span class="badge bg-primary rounded-pill"><a href="https://www.interactivebrokers.com/referral/flavio968" target="_blank" rel="sponsored nofollow noopener">Referral</a></span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Degiro
        <span class="badge bg-primary rounded-pill"><a href="https://www.degiro.ch/kunden-werben-kunden/anlagekonto-eroeffnen?id=A82498BA&utm_source=mgm" target="_blank" rel="sponsored nofollow noopener">Referral</a></span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Neon Code
        <span class="badge bg-primary rounded-pill">99HGM8</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Radicant Code
        <span class="badge bg-primary rounded-pill">fe7e1c</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        wiLLBe Code
        <span class="badge bg-primary rounded-pill">8BQ7OO</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        Yuh Code
        <span class="badge bg-primary rounded-pill">prl9i7</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        ZAK Code
        <span class="badge bg-primary rounded-pill">38WMXP</span>
      </li>
    </ul>
  </div>
  <!-- Ad Section -->
  <div class="mb-4">
    <h4 class="pt-1">Werbung</h4>
    <a href="{{ site.baseurl }}/ads">
      <figure class="position-relative">
        <img
          class="img-fluid"
          src="{{site.baseurl}}/assets/images/ads.webp"
          alt="Ads"
        />
        <figcaption
          class="position-absolute top-0 end-0 p-1 text-body-tertiary rounded"
        >
          <small>Bild:freepik.com</small>
        </figcaption>
      </figure>
    </a>
  </div>
</div>
